body {
  background: #008080;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  user-select: none;
  font-weight: 300;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

#start-bar {
  background: #c0c0c0;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: calc(100% - 1rem);
  display: flex;
  padding: 0.5rem;
  z-index: 999999999;
  justify-content: space-between;
  box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
}

//for the windows if can get to work

#all-windows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  pointer-events: none;
  height: 100%;
}
#all-windows > div {
  pointer-events: all;
}
#all-windows > div {
  display: none;
}

// .dropup {
//   position: relative;
//   display: inline-block;
// }

// .dropup-content {
//   display: none;
//   position: absolute;
//   bottom: 50px;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }

// .dropup {
//   position: fixed;
//   z-index: 100; // big value if needed
//   top: 100vh; // hide dropdown
//   left: 0;
//   transition: all 200ms ease-out; // or whatever else
// }
// .dropup.active {
//   transform: translate(0, -100%); // dropdown come up
// }

/////
#start-menu {
  bottom: 3.75rem;
  position: absolute;
  background: #c0c0c0;
  left: 0.25rem;
  width: 24rem;
  min-height: 3rem;
  display: none;
}
#start-button-input:checked ~ #start-bar > #start-menu {
  display: block;
}
#start-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#start-menu ul li label {
  height: 4rem;
  float: left;
  cursor: pointer;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: calc(100% - 3rem);
}

#start-menu > ul > li label:before {
  width: 10px;
  background: black;
  content: "";
  height: 1px;
  position: absolute;
  bottom: 20px;
  left: 3rem;
}
#start-menu > ul > li label:first-of-type:before {
  width: 14px;
}

#start-menu > ul > li label:hover:before {
  background: white;
}
#start-menu ul li.line label {
  box-shadow: 0 2px #808280, 0 4px white;
}
.line {
  box-shadow: 0 2px #808280, 0 4px white;
}
#start-menu ul li img {
  width: 2rem;
  height: auto;
  margin: 0 1rem 0 0;
}
#start-menu ul li label:hover {
  background: #0c1b98;
  color: white;
  box-shadow: -8px 0 #0c1b98, 8px 0 #0c1b98;
}

//  START BAR
#start-button {
  min-width: 104px;
  width: 6.5rem;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 0.25rem;
  cursor: pointer;
  height: 2.25rem;
}
#time-options {
  box-shadow: 0 2px white, 0 -2px #7d7d7d, -2px -2px #7d7d7d, 2px 2px white,
    -2px 2px #7d7d7d, 2px -2px white;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#start-button:active {
  box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black,
    -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede,
    2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white,
    4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

label {
  display: block;
}
[type="checkbox"],
[type="radio"] {
  display: none;
}

#start-button-input:checked ~ #start-menu {
  display: block;
}

// DESKTOP AND SPACING OF ICONS

#desktop {
  position: absolute;
  top: 0;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: auto;
  height: calc(100% - 3.75rem);
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.desktop-item {
  color: white;
  text-align: center;
  cursor: pointer;
  align-items: center;
  border: 1px solid transparent;
  flex-direction: column;
  max-width: 7rem;
  width: 75rem;
  justify-content: center;
  min-height: 6.25rem;
  margin: 0 0 2rem 0;
  padding: 0.25rem 0;
}
.desktop-item .icon {
  display: block;
}
.desktop-item img {
  width: 3rem;
  margin: 0 0 0.75rem 0;
}
a.desktop-item {
  text-decoration: none;
}
.desktop-item .text {
  display: inline;
  margin: 0.5rem 0;
  text-align: center;
}

.desktop-item:active .text {
  background: #005959;
}

//inside the apps!!???

.modal {
  background: #b9b9b9;
  margin: 0.5rem;
  margin-top: -5rem;
  z-index: 999999;
  resize: both;
  overflow: hidden;
  position: relative;
  width: 20rem;
  height: 21rem;
}
.header {
  background: linear-gradient(90deg, #000b7c, #377cc6);
  color: white;
  padding: 0.25rem;
}

// in notepad???
textarea {
  width: 100%;
  position: relative;
  padding: 1.5rem;
  box-sizing: border-box;
  top: 2px;
  height: 100%;
  border: none;
  appearance: none;
}
textarea:focus {
  outline: none;
}

.content.white {
  background: white;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  margin-top: 2px;
}

// sound

#trigger {
  float: right;
}

//modal slideshow

// * {
//   box-sizing: border-box;
// }

// /* Slideshow container */
// .slideshow-container {
//   max-width: 1000px;
//   position: relative;
//   margin: auto;
// }

// /* Hide the images by default */
// .mySlides {
//   display: none;
// }

// /* Next & previous buttons */
// .prev,
// .next {
//   cursor: pointer;
//   position: absolute;
//   top: 50%;
//   width: auto;
//   margin-top: -22px;
//   padding: 16px;
//   color: white;
//   font-weight: bold;
//   font-size: 18px;
//   transition: 0.6s ease;
//   border-radius: 0 3px 3px 0;
//   user-select: none;
// }

// /* Position the "next button" to the right */
// .next {
//   right: 0;
//   border-radius: 3px 0 0 3px;
// }

// /* Number text (1/3 etc) */
// .numbertext {
//   color: #f2f2f2;
//   font-size: 12px;
//   padding: 8px 12px;
//   position: absolute;
//   top: 0;
// }

// /* Fading animation */
// .fade {
//   animation-name: fade;
//   animation-duration: 1.5s;
// }

// @keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }
